body{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   width: 100vw;
   margin: 0;
   background: rgb(255,250,251);
   background: linear-gradient(180deg, rgba(255,250,251,1) 0%, rgba(255,231,236,1) 100%);
}

.widgetBody{
   margin: 20px;
   position: relative;
   display: flex;
   width: 450px;
   height: 200px;
   box-shadow: 0px 50px 171px rgba(161, 35, 35, 0.2);
   border-radius: 30px;
}

.tempBody{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-flow: column;
   flex: block;
   width: 200px;
   height: 200px;
   left: 0;
   background: radial-gradient(50% 50% at 50% 50%, #FAEEEF 0%, #FFF3F4 100%);
   border-radius: 30px;
   z-index: 12;
   font-family: 'Poppins', sans-serif;
   color: #343434;
}

.imgBody{
   position: absolute;
   right: 0;
   width: 400px;
   height: 200px;
   background: url('https://images.unsplash.com/photo-1469365556835-3da3db4c253b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
   z-index: 3;
   border-radius: 30px;
   background-repeat:no-repeat;
   background-size:contain;
   background-position:right;
}

.selectedCity{
      
      font-weight: 600;
      font-size: 1.3em;
}

.gradesTemp{
      font-size: 4.8em;
      font-weight: 600;
}

.descriptionWeather{
      font-size: 1.1em;
}

.Temperature{
      
      display: flex;
}
.unitTemp{
      
      font-size: 1.5em;
      padding-top: 20px;
}

.prevent-select {
   -webkit-user-select: none;
   /* Safari */
   -ms-user-select: none;
   /* IE 10 and IE 11 */
   user-select: none;
   /* Standard syntax */
}
